/* 1rem = 10px */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.site-footer {
  display: none;
}
#page.container.grid-container {
  max-width: unset;
  background-color: unset;
}
#page.container.grid-container .site-content {
  padding: unset;
}
.elementor-widget-container {
  overflow: hidden;
}
@font-face {
  font-family: Proxima Nova;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Proxima-Nova-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Proxima Nova;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Proxima-Nova-Semibold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Proxima Nova;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Proxima-Nova-Bold.otf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Inter-Light.ttf);
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: Inter;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Inter-Regular.ttf);
  font-weight: 400;
  font-style: regular;
}
@font-face {
  font-family: Inter;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Inter-Medium.ttf);
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: Inter;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Inter-SemiBold.ttf);
  font-weight: 600;
  font-style: semibold;
}
html {
  font-size: 6px;
}
#site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
  top: 3rem;
  right: calc(2rem + 1rem);
}
#masthead.site-header .site-logo {
  top: 3rem;
  left: calc(2rem + 1rem);
}
#page.container.grid-container {
  padding: 3rem 2rem;
}
#site-navigation.main-navigation #primary-menu {
  padding: 3rem;
}
@media screen and (min-width: 577px) {
  html {
    font-size: 7px;
  }
  #site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
    top: 3rem;
    right: calc(2rem + 1rem);
  }
  #masthead.site-header .site-logo {
    top: 3rem;
    left: calc(2rem + 1rem);
  }
  #page.container.grid-container {
    padding: 3rem 2rem;
  }
  #site-navigation.main-navigation #primary-menu {
    padding: 3rem;
  }
}
@media screen and (min-width: 769px) {
  html {
    font-size: 8px;
  }
  #site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
    top: 3rem;
    right: calc((6rem + 1rem) / 2);
    transform: translateX(50%);
  }
  #masthead.site-header .site-logo {
    top: 3rem;
    left: calc((6rem + 1rem) / 2);
    transform: translateX(-1rem);
  }
  #page.container.grid-container {
    padding: 3rem 6rem;
  }
}
@media screen and (min-width: 997px) {
  html {
    font-size: 9px;
  }
  #site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
    top: 3rem;
    right: calc((10rem + 1rem) / 2);
    transform: translateX(50%);
  }
  #masthead.site-header .site-logo {
    top: 3rem;
    left: calc((10rem + 1rem) / 2);
    transform: translateX(-1rem);
  }
  #page.container.grid-container {
    padding: 3rem 10rem;
  }
}
@media screen and (min-width: 1281px) {
  html {
    font-size: 10px;
  }
  #site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
    top: 3rem;
    right: calc((14rem + 1rem) / 2);
    transform: translateX(50%);
  }
  #masthead.site-header .site-logo {
    top: 3rem;
    left: calc((14rem + 1rem) / 2);
    transform: translateX(-1rem);
  }
  #page.container.grid-container {
    padding: 3rem 14rem;
  }
}
#masthead.site-header {
  background-color: unset;
}
#masthead.site-header .site-logo {
  position: fixed;
  overflow: hidden;
  text-align: left;
  z-index: 1000;
}
#masthead.site-header .site-logo img {
  height: 3rem;
  width: unset;
  transform: translateX(0);
  transition: transform 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  object-fit: contain;
  object-position: left;
  margin-right: 2rem;
  /* for the logo animation to not be cropped on the right */
}
#masthead.site-header .site-logo.collapsed img {
  transform: translateX(-90%);
}
#site-navigation.main-navigation *, #site-navigation.main-navigation.toggled * {
  margin: 0;
  padding: 0;
  display: inherit;
  background-color: unset;
  border: unset;
  box-shadow: unset;
  opacity: unset;
  width: unset;
  height: unset;
  line-height: unset;
  left: unset;
  right: unset;
  top: unset;
  bottom: unset;
}
#site-navigation.main-navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 10000;
}
#site-navigation.main-navigation .inside-navigation {
  display: flex;
  flex-flow: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
}
#site-navigation.main-navigation #primary-menu {
  display: none;
  flex-grow: 1;
  background-color: #fffec3;
}
#site-navigation.main-navigation #primary-menu > ul {
  justify-content: space-evenly;
}
#site-navigation.main-navigation #primary-menu li {
  float: none;
  clear: both;
  display: block;
  text-align: left;
}
.toggled #site-navigation.main-navigation #primary-menu {
  display: inherit !important;
}
#site-navigation.main-navigation #menu-header-nav {
  display: inline-flex;
  justify-content: flex-start;
  margin: 0;
  height: 15rem;
  width: 100%;
}
#site-navigation.main-navigation #menu-header-nav > li.menu-item {
  font-weight: 800;
  margin-right: 3rem;
}
#site-navigation.main-navigation #menu-header-nav > li.menu-item > a {
  color: inherit;
  align-content: start;
  display: flex;
}
#site-navigation.main-navigation #menu-header-nav > li.menu-item > a:after {
  content: url(/wp-content/uploads/2020/08/arrow_down.png);
  transform: scale(0.7) rotate(90deg) translate(-1rem, -3rem);
  display: inline-flex;
  opacity: 0;
  height: 4rem;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
#site-navigation.main-navigation #menu-header-nav > li.menu-item.current-menu-item > a:after, #site-navigation.main-navigation #menu-header-nav > li.menu-item:hover > a:after {
  transform: scale(0.7) rotate(90deg) translate(-1rem, -1rem);
  opacity: 1;
}
#site-navigation.main-navigation #menu-header-nav > li.menu-item > a {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 600;
}
#site-navigation.main-navigation #menu-header-nav .dropdown-menu-toggle {
  display: none;
}
#site-navigation.main-navigation #menu-header-nav ul, #site-navigation.main-navigation #menu-header-nav li {
  margin: 0;
  list-style: none;
}
#site-navigation.main-navigation #menu-header-nav .menu-item-has-children .sub-menu {
  visibility: visible;
  opacity: 0;
  transition: opacity 0.5s;
  top: 3rem;
  margin-bottom: 3.5rem;
  position: absolute;
  white-space: nowrap;
  top: 6rem;
}
#site-navigation.main-navigation #menu-header-nav .menu-item-has-children .sub-menu > li > a {
  font-size: 2rem;
}
#site-navigation.main-navigation #menu-header-nav .menu-item-has-children:hover .sub-menu {
  opacity: 1;
}
#site-navigation.main-navigation #menu-header-nav .menu-item-has-children .dropdown-menu-toggle {
  float: right;
}
#site-navigation.main-navigation.toggled #primary-menu {
  display: inherit !important;
}
@media screen and (min-width: 1280px) {
  #menu-header-nav {
    max-width: 1100px;
  }
}
#site-navigation.main-navigation .menu-toggle {
  position: fixed;
  display: flex;
  justify-content: center;
}
#site-navigation.main-navigation .menu-toggle:before {
  content: unset;
}
#site-navigation.main-navigation .menu-toggle img {
  height: 3rem;
}
#site-navigation.main-navigation.toggled .hamburger-menu {
  display: none;
}
#site-navigation.main-navigation.toggled .menu-toggle:before {
  content: '\2715';
  height: 3rem;
  font-size: 4rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
