#site-navigation.main-navigation *, #site-navigation.main-navigation.toggled * {
  margin: 0;
  padding: 0;
  display: inherit;
  background-color: unset;
  border: unset;
  box-shadow: unset;
  opacity: unset;
  width: unset;
  height: unset;
  line-height: unset;
  left: unset;
  right: unset;
  top: unset;
  bottom: unset;
}
html {
  /* 1rem = 10px */
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.hidden {
  display: none;
}
.square-ratio .elementor-image {
  padding-top: 100%;
}
.square-ratio .elementor-image > img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 769px) {
  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .elementor-menu-anchor {
    margin-top: -40px;
  }
}
#page.container.grid-container {
  max-width: unset;
  background-color: unset;
}
#page.container.grid-container .site-content {
  padding: unset;
}
.flip-x {
  transform: scaleX(-1);
}
.flip-y {
  transform: scaleY(-1);
}
.object-fit-fill img, .object-fit-fill svg {
  object-fit: fill;
}
.object-fit-fill, .object-fit-fill div, .object-fit-fill figure, .object-fit-fill img, .object-fit-fill svg {
  height: 100% !important;
  width: 100%;
}
.object-fit-cover img, .object-fit-cover svg {
  object-fit: cover;
}
.object-fit-cover, .object-fit-cover div, .object-fit-cover figure, .object-fit-cover img, .object-fit-cover svg {
  height: 100% !important;
  width: 100%;
}
.object-fit-contain img, .object-fit-contain svg {
  object-fit: contain;
}
.object-fit-contain, .object-fit-contain div, .object-fit-contain figure, .object-fit-contain img, .object-fit-contain svg {
  height: 100% !important;
  width: 100%;
}
.text-color-01 {
  color: #fff;
}
.bg-color-01 {
  background-color: #fff;
}
.fill-color-01, .fill-color-01 svg {
  fill: #fff;
}
.text-color-02 {
  color: #290056;
}
.bg-color-02 {
  background-color: #290056;
}
.fill-color-02, .fill-color-02 svg {
  fill: #290056;
}
.text-color-03 {
  color: #008a6a;
}
.bg-color-03 {
  background-color: #008a6a;
}
.fill-color-03, .fill-color-03 svg {
  fill: #008a6a;
}
.text-color-04 {
  color: #ff5485;
}
.bg-color-04 {
  background-color: #ff5485;
}
.fill-color-04, .fill-color-04 svg {
  fill: #ff5485;
}
.text-color-05 {
  color: #ff673a;
}
.bg-color-05 {
  background-color: #ff673a;
}
.fill-color-05, .fill-color-05 svg {
  fill: #ff673a;
}
.text-color-06 {
  color: #ecedf0;
}
.bg-color-06 {
  background-color: #ecedf0;
}
.fill-color-06, .fill-color-06 svg {
  fill: #ecedf0;
}
.text-color-07 {
  color: #fff5f5;
}
.bg-color-07 {
  background-color: #fff5f5;
}
.fill-color-07, .fill-color-07 svg {
  fill: #fff5f5;
}
.text-color-08 {
  color: #ffe6d3;
}
.bg-color-08 {
  background-color: #ffe6d3;
}
.fill-color-08, .fill-color-08 svg {
  fill: #ffe6d3;
}
.text-color-09 {
  color: #dac5b4;
}
.bg-color-09 {
  background-color: #dac5b4;
}
.fill-color-09, .fill-color-09 svg {
  fill: #dac5b4;
}
.text-color-10 {
  color: #e3dcff;
}
.bg-color-10 {
  background-color: #e3dcff;
}
.fill-color-10, .fill-color-10 svg {
  fill: #e3dcff;
}
.text-color-11 {
  color: #e4e4e7;
}
.bg-color-11 {
  background-color: #e4e4e7;
}
.fill-color-11, .fill-color-11 svg {
  fill: #e4e4e7;
}
.text-color-12 {
  color: #ffd2c1;
}
.bg-color-12 {
  background-color: #ffd2c1;
}
.fill-color-12, .fill-color-12 svg {
  fill: #ffd2c1;
}
.text-color-13 {
  color: #e3203d;
}
.bg-color-13 {
  background-color: #e3203d;
}
.fill-color-13, .fill-color-13 svg {
  fill: #e3203d;
}
.text-color-14 {
  color: #b27d7e;
}
.bg-color-14 {
  background-color: #b27d7e;
}
.fill-color-14, .fill-color-14 svg {
  fill: #b27d7e;
}
.text-color-15 {
  color: #bdacab;
}
.bg-color-15 {
  background-color: #bdacab;
}
.fill-color-15, .fill-color-15 svg {
  fill: #bdacab;
}
.text-color-16 {
  color: #fcb0b2;
}
.bg-color-16 {
  background-color: #fcb0b2;
}
.fill-color-16, .fill-color-16 svg {
  fill: #fcb0b2;
}
.text-color-17 {
  color: #fffec3;
}
.bg-color-17 {
  background-color: #fffec3;
}
.fill-color-17, .fill-color-17 svg {
  fill: #fffec3;
}
.text-color-18 {
  color: #ffde47;
}
.bg-color-18 {
  background-color: #ffde47;
}
.fill-color-18, .fill-color-18 svg {
  fill: #ffde47;
}
.text-color-19 {
  color: #8989be;
}
.bg-color-19 {
  background-color: #8989be;
}
.fill-color-19, .fill-color-19 svg {
  fill: #8989be;
}
.text-color-20 {
  color: #aaa;
}
.bg-color-20 {
  background-color: #aaa;
}
.fill-color-20, .fill-color-20 svg {
  fill: #aaa;
}
.text-color-21 {
  color: #4d87d9;
}
.bg-color-21 {
  background-color: #4d87d9;
}
.fill-color-21, .fill-color-21 svg {
  fill: #4d87d9;
}
.text-color-22 {
  color: #c47159;
}
.bg-color-22 {
  background-color: #c47159;
}
.fill-color-22, .fill-color-22 svg {
  fill: #c47159;
}
@font-face {
  font-family: Proxima Nova;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Proxima-Nova-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Proxima Nova;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Proxima-Nova-Semibold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Proxima Nova;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Proxima-Nova-Bold.otf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Inter-Light.ttf);
  font-weight: 200;
  font-style: light;
}
@font-face {
  font-family: Inter;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Inter-Regular.ttf);
  font-weight: 400;
  font-style: regular;
}
@font-face {
  font-family: Inter;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Inter-Medium.ttf);
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: Inter;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Inter-SemiBold.ttf);
  font-weight: 600;
  font-style: semibold;
}
html {
  font-size: 6px;
}
#site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
  margin: 3rem calc(3rem + 1rem);
}
#site-navigation .reserve-button {
  position: fixed;
  right: calc(3rem + 8rem) !important;
  top: 3rem !important;
}
#menu-header-nav > li:last-child {
  bottom: 3rem !important;
  transform: translateY(-50%);
}
#masthead.site-header .site-logo {
  top: 3rem;
  left: calc(3rem + 1rem);
}
#masthead.site-header .site-logo a {
  display: flex;
}
#page.container.grid-container {
  padding: 60px 3rem 3rem 3rem;
}
#site-navigation.main-navigation #primary-menu {
  padding: 0 3rem;
}
#site-navigation.main-navigation.toggled #primary-menu {
  padding: 3rem;
}
.site-footer .footer-main-content {
  padding-right: 3rem !important;
}
.section-l-divider, .page-padding {
  padding: 0 3rem;
}
@media screen and (min-width: 577px) {
  html {
    font-size: 7px;
  }
  #site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
    margin: 3rem calc(3rem + 1rem);
  }
  #site-navigation .reserve-button {
    position: fixed;
    right: calc(3rem + 8rem) !important;
    top: 3rem !important;
  }
  #menu-header-nav > li:last-child {
    bottom: 3rem !important;
    transform: translateY(-50%);
  }
  #masthead.site-header .site-logo {
    top: 3rem;
    left: calc(3rem + 1rem);
  }
  #masthead.site-header .site-logo a {
    display: flex;
  }
  #page.container.grid-container {
    padding: 60px 3rem 3rem 3rem;
  }
  #site-navigation.main-navigation #primary-menu {
    padding: 0 3rem;
  }
  #site-navigation.main-navigation.toggled #primary-menu {
    padding: 3rem;
  }
  .site-footer .footer-main-content {
    padding-right: 3rem !important;
  }
  .section-l-divider, .page-padding {
    padding: 0 3rem;
  }
}
@media screen and (min-width: 769px) {
  html {
    font-size: 8px;
  }
  #site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
    margin: 3rem calc((6rem + 1rem) / 2);
    transform: translateX(50%);
  }
  #site-navigation.main-navigation.toggled .menu-toggle:before {
    margin: unset;
  }
  #site-navigation .reserve-button {
    position: fixed;
    right: calc((6rem + 1rem) / 2) !important;
    top: 14rem !important;
    transform: translateX(50%);
  }
  #menu-header-nav > li:last-child {
    bottom: unset !important;
    right: 6rem !important;
    transform: translateX(-50%);
  }
  #masthead.site-header .site-logo {
    top: 3rem;
    left: calc((6rem + 1rem) / 2);
    transform: translateX(-1rem);
  }
  #page.container.grid-container {
    padding: 3rem 6rem;
  }
  .generate-back-to-top {
    right: calc((6rem + 1rem) / 2) !important;
    transform: translateX(50%);
  }
  .section-l-divider, .page-padding {
    padding: 0 6rem;
  }
}
@media screen and (min-width: 997px) {
  html {
    font-size: 9px;
  }
  #site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
    margin: 4rem calc((10rem + 1rem) / 2);
    transform: translateX(50%);
  }
  #site-navigation.main-navigation.toggled .menu-toggle:before {
    margin: unset;
  }
  #site-navigation .reserve-button {
    position: fixed;
    right: calc((10rem + 1rem) / 2) !important;
    top: 14rem !important;
    transform: translateX(50%);
  }
  #menu-header-nav > li:last-child {
    bottom: unset !important;
    right: 10rem !important;
    transform: translateX(-50%);
  }
  #masthead.site-header .site-logo {
    top: 4rem;
    left: calc((10rem + 1rem) / 2);
    transform: translateX(-1rem);
  }
  #page.container.grid-container {
    padding: 4rem 10rem;
  }
  .generate-back-to-top {
    right: calc((10rem + 1rem) / 2) !important;
    transform: translateX(50%);
  }
  .section-l-divider, .page-padding {
    padding: 0 10rem;
  }
}
@media screen and (min-width: 1281px) {
  html {
    font-size: 10px;
  }
  #site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
    margin: 6rem calc((14rem + 1rem) / 2);
    transform: translateX(50%);
  }
  #site-navigation.main-navigation.toggled .menu-toggle:before {
    margin: unset;
  }
  #site-navigation .reserve-button {
    position: fixed;
    right: calc((14rem + 1rem) / 2) !important;
    top: 14rem !important;
    transform: translateX(50%);
  }
  #menu-header-nav > li:last-child {
    bottom: unset !important;
    right: 14rem !important;
    transform: translateX(-50%);
  }
  #masthead.site-header .site-logo {
    top: 6rem;
    left: calc((14rem + 1rem) / 2);
    transform: translateX(-1rem);
  }
  #page.container.grid-container {
    padding: 6rem 14rem;
  }
  .generate-back-to-top {
    right: calc((14rem + 1rem) / 2) !important;
    transform: translateX(50%);
  }
  .section-l-divider, .page-padding {
    padding: 0 14rem;
  }
}
@media screen and (min-width: 1679px) {
  html {
    font-size: 12px;
  }
  #site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
    margin: 6rem calc((14rem + 1rem) / 2);
    transform: translateX(50%);
  }
  #site-navigation.main-navigation.toggled .menu-toggle:before {
    margin: unset;
  }
  #site-navigation .reserve-button {
    position: fixed;
    right: calc((14rem + 1rem) / 2) !important;
    top: 14rem !important;
    transform: translateX(50%);
  }
  #menu-header-nav > li:last-child {
    bottom: unset !important;
    right: 14rem !important;
    transform: translateX(-50%);
  }
  #masthead.site-header .site-logo {
    top: 6rem;
    left: calc((14rem + 1rem) / 2);
    transform: translateX(-1rem);
  }
  #page.container.grid-container {
    padding: 6rem 14rem;
  }
  .generate-back-to-top {
    right: calc((14rem + 1rem) / 2) !important;
    transform: translateX(50%);
  }
  .section-l-divider, .page-padding {
    padding: 0 14rem;
  }
}
@media screen and (min-width: 1919px) {
  html {
    font-size: 14px;
  }
  #site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
    margin: 6rem calc((14rem + 1rem) / 2);
    transform: translateX(50%);
  }
  #site-navigation.main-navigation.toggled .menu-toggle:before {
    margin: unset;
  }
  #site-navigation .reserve-button {
    position: fixed;
    right: calc((14rem + 1rem) / 2) !important;
    top: 14rem !important;
    transform: translateX(50%);
  }
  #menu-header-nav > li:last-child {
    bottom: unset !important;
    right: 14rem !important;
    transform: translateX(-50%);
  }
  #masthead.site-header .site-logo {
    top: 6rem;
    left: calc((14rem + 1rem) / 2);
    transform: translateX(-1rem);
  }
  #page.container.grid-container {
    padding: 6rem 14rem;
  }
  .generate-back-to-top {
    right: calc((14rem + 1rem) / 2) !important;
    transform: translateX(50%);
  }
  .section-l-divider, .page-padding {
    padding: 0 14rem;
  }
}
.round-word-btn {
  transition: transform 0.3s;
}
.round-word-btn .elementor-button {
  cursor: pointer;
  height: 6em;
  width: 6em !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7vw !important;
}
.round-word-btn:hover {
  transform: scale(1.05);
}
.round-word-btn.active .elementor-button {
  cursor: default;
}
.round-word-btn.active .elementor-button-text {
  border-bottom: 4px solid white;
  border-top: 4px solid transparent;
}
.generate-back-to-top {
  background-color: transparent !important;
  width: 3rem !important;
}
.generate-back-to-top:before {
  content: url("data:image/svg+xml;utf8,<svg id='a2ac12bf-8d9c-419c-b313-ef0c525b27ab' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.77 59.88'><polygon class='e22aa11f-bda2-4928-bb62-ef3a9efbf9f7' points='14.88 19.77 14.88 59.88 21.89 59.88 21.89 19.77 36.77 19.77 18.39 0 18.38 0 0 19.77 14.88 19.77' fill='%23C47159'/></svg>") !important;
}
@keyframes rotate-in-ccw {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  45% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  70% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  95% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spin-colors {
  0% {
    fill: #ff673a;
  }
  20% {
    fill: #ff673a;
  }
  25% {
    fill: #008a6a;
  }
  45% {
    fill: #008a6a;
  }
  50% {
    fill: #ff5485;
  }
  70% {
    fill: #ff5485;
  }
  75% {
    fill: #4d87d9;
  }
  95% {
    fill: #4d87d9;
  }
  100% {
    fill: #ff673a;
  }
}
.animate.spinning-wheel {
  animation-name: spin;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.animate.spinning-wheel svg {
  animation-name: spin-colors;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.animate.rotate-in-ccw {
  animation-name: rotate-in-ccw;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045), opacity 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
#masthead.site-header {
  background-color: unset;
  z-index: 10;
}
#masthead.site-header .inside-header {
  padding: 10px;
}
#masthead.site-header .site-logo {
  position: fixed;
  overflow: hidden;
  text-align: left;
  z-index: 1;
}
#masthead.site-header .site-logo img {
  height: 3rem;
  width: unset;
  transform: translateX(0);
  transition: transform 0.3s ease-in;
  object-fit: contain;
  object-position: left;
  /* for the logo animation to not be cropped on the right */
  margin-right: 2rem;
}
@media screen and (min-width: 769px) {
  #masthead.site-header .site-logo.collapsed img {
    transform: translateX(-90%);
    transition: transform 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
}
#site-navigation.main-navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ecedf0;
  z-index: 5;
  height: 60px;
  transition: 0.3s;
}
#site-navigation.main-navigation .menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
#site-navigation.main-navigation .menu-toggle:before {
  color: #290056;
}
#site-navigation.main-navigation .inside-navigation {
  display: flex;
  flex-flow: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
}
#site-navigation.main-navigation #primary-menu {
  height: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
  background-color: #dac5b4;
  transition: 0.3s;
}
#site-navigation.main-navigation #primary-menu > ul {
  justify-content: space-evenly;
}
#site-navigation.main-navigation #primary-menu li {
  float: none;
  clear: both;
  display: block;
  text-align: left;
}
.toggled #site-navigation.main-navigation #primary-menu {
  display: inherit !important;
}
#site-navigation.main-navigation #menu-header-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  margin: 0;
}
@media screen and (min-width: 769px) {
  #site-navigation.main-navigation #menu-header-nav {
    flex-direction: unset;
    justify-content: flex-start;
    height: 15rem;
  }
}
#site-navigation.main-navigation #menu-header-nav > li.menu-item {
  font-weight: 800;
  margin-right: 5vw;
}
#site-navigation.main-navigation #menu-header-nav > li.menu-item > a {
  color: #290056;
  align-content: start;
  display: flex;
  font-size: 5vh;
  line-height: 7vh;
  font-weight: 600;
  align-items: center;
}
#site-navigation.main-navigation #menu-header-nav > li.menu-item > a:after {
  content: url("data:image/svg+xml;utf8,<svg id='a2ac12bf-8d9c-419c-b313-ef0c525b27ab' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.77 59.88'><polygon class='e22aa11f-bda2-4928-bb62-ef3a9efbf9f7' points='14.88 19.77 14.88 59.88 21.89 59.88 21.89 19.77 36.77 19.77 18.39 0 18.38 0 0 19.77 14.88 19.77' fill='%23E3203D'/></svg>");
  transform: rotate(-90deg);
  width: 5rem;
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  justify-content: center;
  align-items: center;
}
#site-navigation.main-navigation #menu-header-nav > li.menu-item.current-menu-item > a:after {
  transform: rotate(-90deg) translateY(0.5em);
  opacity: 1;
}
#site-navigation.main-navigation #menu-header-nav > li.menu-item.current-menu-item.menu-item-has-children .sub-menu {
  opacity: 1;
}
#site-navigation.main-navigation #menu-header-nav > li.menu-item:last-child {
  visibility: hidden;
  position: absolute;
}
#site-navigation.main-navigation #menu-header-nav > li.menu-item:last-child a {
  color: #c47159;
  font-size: 40px;
}
#site-navigation.main-navigation #menu-header-nav > li.menu-item:last-child a:after {
  display: none;
}
@media screen and (min-width: 769px) {
  #site-navigation.main-navigation #menu-header-nav > li.menu-item:last-child a {
    font-size: 2.2rem;
  }
}
#site-navigation.main-navigation #menu-header-nav .dropdown-menu-toggle {
  display: none;
}
#site-navigation.main-navigation #menu-header-nav ul, #site-navigation.main-navigation #menu-header-nav li {
  margin: 0;
  list-style: none;
}
#site-navigation.main-navigation #menu-header-nav .menu-item-has-children .sub-menu {
  visibility: visible;
  position: relative;
  pointer-events: unset;
  transition: opacity 0.5s;
  margin-bottom: 3.5rem;
  white-space: nowrap;
}
#site-navigation.main-navigation #menu-header-nav .menu-item-has-children .sub-menu > li > a {
  color: #290056;
  font-size: 4vh;
  padding-left: 30px;
}
#site-navigation.main-navigation #menu-header-nav .menu-item-has-children:hover .sub-menu {
  opacity: 1;
}
#site-navigation.main-navigation .reserve-button p {
  align-items: center;
  color: #ff673a;
  font-weight: 600;
  font-size: 20px;
  line-height: 3rem;
}
#site-navigation.main-navigation .reserve-button p:before {
  content: url("data:image/svg+xml;utf8,<svg id='a2ac12bf-8d9c-419c-b313-ef0c525b27ab' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.77 59.88'><polygon class='e22aa11f-bda2-4928-bb62-ef3a9efbf9f7' points='14.88 19.77 14.88 59.88 21.89 59.88 21.89 19.77 36.77 19.77 18.39 0 18.38 0 0 19.77 14.88 19.77' fill='%23FF673A'/></svg>");
  transform: rotate(90deg) translateY(40%);
  width: 2rem;
}
#site-navigation.main-navigation .reserve-button p:after {
  content: 'Book';
}
@media screen and (min-width: 769px) {
  #site-navigation.main-navigation .reserve-button span {
    transform: rotate(90deg);
  }
  #site-navigation.main-navigation .reserve-button p {
    font-size: 2.2rem;
  }
  #site-navigation.main-navigation .reserve-button p:before {
    width: 1.5rem;
  }
}
#site-navigation.main-navigation.toggled {
  z-index: 100;
}
#site-navigation.main-navigation.toggled #primary-menu {
  display: inherit !important;
  position: absolute;
  height: 100vh;
}
#site-navigation.main-navigation.toggled #menu-header-nav > li.menu-item:last-child {
  visibility: visible;
}
@media screen and (min-width: 769px) {
  #site-navigation.main-navigation {
    background-color: transparent;
    height: unset;
  }
  #site-navigation.main-navigation.toggled #primary-menu {
    height: 15rem;
  }
  #site-navigation.main-navigation #menu-header-nav {
    display: inline-flex;
  }
  #site-navigation.main-navigation #menu-header-nav > li.menu-item > a {
    font-size: 3vw;
    line-height: 3vw;
  }
  #site-navigation.main-navigation #menu-header-nav > li.menu-item > a:after {
    transform: rotate(-90deg) translateY(1.5em);
    width: 2.5rem;
  }
  #site-navigation.main-navigation #menu-header-nav .menu-item-has-children .sub-menu {
    opacity: 0;
    position: absolute;
    top: 6rem;
  }
  #site-navigation.main-navigation #menu-header-nav .menu-item-has-children .sub-menu > li > a {
    font-size: 2rem;
    padding-left: unset;
  }
}
@media screen and (min-width: 997px) {
  #site-navigation.main-navigation #menu-header-nav > li.menu-item:hover > a:after {
    transform: rotate(-90deg) translateY(0.5em);
    opacity: 0.3;
  }
}
@media screen and (min-width: 1281px) {
  #site-navigation.main-navigation #menu-header-nav > li.menu-item > a {
    font-size: 3.8rem;
    line-height: 3.8rem;
  }
}
#site-navigation.main-navigation .menu-toggle {
  display: flex;
  justify-content: center;
}
#site-navigation.main-navigation .menu-toggle:before {
  content: unset;
}
#site-navigation.main-navigation .menu-toggle img {
  height: 3rem;
}
#site-navigation.main-navigation.toggled .hamburger-menu {
  display: none;
}
#site-navigation.main-navigation.toggled .menu-toggle:before {
  content: '\2715';
  font-size: 48px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 769px) {
  #site-navigation.main-navigation.toggled .menu-toggle:before {
    height: 3rem;
  }
}
.section-l-slider .swiper-pagination-bullets {
  display: none;
}
.section-l-slider .elementor-swiper-button {
  display: flex;
  height: 100%;
  align-items: flex-end;
  z-index: 10;
}
.section-l-slider .elementor-swiper-button:after {
  content: url("data:image/svg+xml;utf8,<svg id='a2ac12bf-8d9c-419c-b313-ef0c525b27ab' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.77 59.88'><polygon class='e22aa11f-bda2-4928-bb62-ef3a9efbf9f7' points='14.88 19.77 14.88 59.88 21.89 59.88 21.89 19.77 36.77 19.77 18.39 0 18.38 0 0 19.77 14.88 19.77' fill='%23E3203D'/></svg>");
  width: 20px;
}
@media screen and (min-width: 769px) {
  .section-l-slider .elementor-swiper-button:after {
    margin-bottom: -45px;
  }
}
.section-l-slider .elementor-swiper-button > i {
  display: none;
}
.section-l-slider .elementor-swiper-button.elementor-swiper-button-prev:after {
  transform: rotate(-90deg);
}
.section-l-slider .elementor-swiper-button.elementor-swiper-button-next:after {
  transform: rotate(90deg);
}
.section-l-slider .elementor-image-carousel-caption {
  position: absolute;
  text-align: right !important;
  color: white;
  bottom: 2rem;
  right: 2rem;
  width: 80%;
}
.section-l-slider .elementor-image-carousel-caption h4 {
  font-weight: 600;
}
.section-l-slider .elementor-image-carousel-caption p {
  margin-left: auto;
  font-weight: 500;
}
@media screen and (max-width: 769px) {
  .section-l-slider, .mobile-slider {
    height: 75vh;
    width: 100vw;
  }
  .section-l-slider .elementor-image-carousel-caption h4, .mobile-slider .elementor-image-carousel-caption h4 {
    font-size: 4rem;
  }
  .section-l-slider .elementor-image-carousel-caption p, .mobile-slider .elementor-image-carousel-caption p {
    width: 100%;
    font-size: 20px;
  }
  .section-l-slider .elementor-widget-container, .mobile-slider .elementor-widget-container, .section-l-slider .swiper-container, .mobile-slider .swiper-container {
    overflow: unset;
  }
  .section-l-slider div, .mobile-slider div, .section-l-slider figure, .mobile-slider figure {
    height: 100%;
  }
  .section-l-slider img.swiper-slide-image, .mobile-slider img.swiper-slide-image {
    padding: 1rem;
    height: 100%;
    object-fit: cover;
  }
  .section-l-slider .elementor-swiper-button, .mobile-slider .elementor-swiper-button {
    align-items: center;
  }
}
@media screen and (min-width: 769px) {
  .section-l-slider {
    position: relative;
    margin-bottom: 4rem !important;
    padding-bottom: 2rem;
  }
  .section-l-slider .elementor-image-carousel-caption h4 {
    font-size: 3rem;
  }
  .section-l-slider .elementor-image-carousel-caption p {
    width: 50%;
    font-size: 2.2rem;
  }
  .section-l-slider .swiper-slide-image {
    object-fit: cover;
    height: 67.5rem;
  }
  .section-l-slider .elementor-swiper-button.elementor-swiper-button-prev:after {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .section-l-slider .elementor-swiper-button.elementor-swiper-button-next:after {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.spinning-wheel .elementor-icon-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}
.spinning-wheel svg {
  font-size: 80vw;
}
@media screen and (min-width: 769px) {
  .spinning-wheel svg {
    font-size: 35vw;
  }
}
.elementor-widget-image[data-word] {
  transition: opacity 1s;
  opacity: 0;
}
.elementor-widget-image[data-word]:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.elementor-widget-image[data-word].active {
  opacity: 1;
}
