/* 1rem = 10px */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
#page.container.grid-container {
  max-width: unset;
  background-color: unset;
}
#page.container.grid-container .site-content {
  padding: unset;
}
.elementor-widget-container {
  overflow: hidden;
}
.object-fit-fill img {
  object-fit: fill;
}
.object-fit-fill, .object-fit-fill div, .object-fit-fill figure, .object-fit-fill img {
  height: 100% !important;
  width: 100%;
}
.object-fit-cover img {
  object-fit: cover;
}
.object-fit-cover, .object-fit-cover div, .object-fit-cover figure, .object-fit-cover img {
  height: 100% !important;
  width: 100%;
}
.object-fit-contain img {
  object-fit: contain;
}
.object-fit-contain, .object-fit-contain div, .object-fit-contain figure, .object-fit-contain img {
  height: 100% !important;
  width: 100%;
}
.text-color-01 {
  color: #fff;
}
.bg-color-01 {
  background-color: #fff;
}
.fill-color-01, .fill-color-01 svg {
  fill: #fff;
}
.text-color-02 {
  color: #290056;
}
.bg-color-02 {
  background-color: #290056;
}
.fill-color-02, .fill-color-02 svg {
  fill: #290056;
}
.text-color-03 {
  color: #008a6a;
}
.bg-color-03 {
  background-color: #008a6a;
}
.fill-color-03, .fill-color-03 svg {
  fill: #008a6a;
}
.text-color-04 {
  color: #ff5485;
}
.bg-color-04 {
  background-color: #ff5485;
}
.fill-color-04, .fill-color-04 svg {
  fill: #ff5485;
}
.text-color-05 {
  color: #ff673a;
}
.bg-color-05 {
  background-color: #ff673a;
}
.fill-color-05, .fill-color-05 svg {
  fill: #ff673a;
}
.text-color-06 {
  color: #ecedf0;
}
.bg-color-06 {
  background-color: #ecedf0;
}
.fill-color-06, .fill-color-06 svg {
  fill: #ecedf0;
}
.text-color-07 {
  color: #fff5f5;
}
.bg-color-07 {
  background-color: #fff5f5;
}
.fill-color-07, .fill-color-07 svg {
  fill: #fff5f5;
}
.text-color-08 {
  color: #ffe6d3;
}
.bg-color-08 {
  background-color: #ffe6d3;
}
.fill-color-08, .fill-color-08 svg {
  fill: #ffe6d3;
}
.text-color-09 {
  color: #dac5b4;
}
.bg-color-09 {
  background-color: #dac5b4;
}
.fill-color-09, .fill-color-09 svg {
  fill: #dac5b4;
}
.text-color-10 {
  color: #e3dcff;
}
.bg-color-10 {
  background-color: #e3dcff;
}
.fill-color-10, .fill-color-10 svg {
  fill: #e3dcff;
}
.text-color-11 {
  color: #e4e4e7;
}
.bg-color-11 {
  background-color: #e4e4e7;
}
.fill-color-11, .fill-color-11 svg {
  fill: #e4e4e7;
}
.text-color-12 {
  color: #ffd2c1;
}
.bg-color-12 {
  background-color: #ffd2c1;
}
.fill-color-12, .fill-color-12 svg {
  fill: #ffd2c1;
}
.text-color-13 {
  color: #e3203d;
}
.bg-color-13 {
  background-color: #e3203d;
}
.fill-color-13, .fill-color-13 svg {
  fill: #e3203d;
}
.text-color-14 {
  color: #b27d7e;
}
.bg-color-14 {
  background-color: #b27d7e;
}
.fill-color-14, .fill-color-14 svg {
  fill: #b27d7e;
}
.text-color-15 {
  color: #bdacab;
}
.bg-color-15 {
  background-color: #bdacab;
}
.fill-color-15, .fill-color-15 svg {
  fill: #bdacab;
}
.text-color-16 {
  color: #fcb0b2;
}
.bg-color-16 {
  background-color: #fcb0b2;
}
.fill-color-16, .fill-color-16 svg {
  fill: #fcb0b2;
}
.text-color-17 {
  color: #fffec3;
}
.bg-color-17 {
  background-color: #fffec3;
}
.fill-color-17, .fill-color-17 svg {
  fill: #fffec3;
}
.text-color-18 {
  color: #ffde47;
}
.bg-color-18 {
  background-color: #ffde47;
}
.fill-color-18, .fill-color-18 svg {
  fill: #ffde47;
}
.text-color-19 {
  color: #8989be;
}
.bg-color-19 {
  background-color: #8989be;
}
.fill-color-19, .fill-color-19 svg {
  fill: #8989be;
}
.text-color-20 {
  color: #aaa;
}
.bg-color-20 {
  background-color: #aaa;
}
.fill-color-20, .fill-color-20 svg {
  fill: #aaa;
}
.text-color-21 {
  color: #4d87d9;
}
.bg-color-21 {
  background-color: #4d87d9;
}
.fill-color-21, .fill-color-21 svg {
  fill: #4d87d9;
}
.text-color-22 {
  color: #c47159;
}
.bg-color-22 {
  background-color: #c47159;
}
.fill-color-22, .fill-color-22 svg {
  fill: #c47159;
}
@font-face {
  font-family: Proxima Nova;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Proxima-Nova-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Proxima Nova;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Proxima-Nova-Semibold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Proxima Nova;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Proxima-Nova-Bold.otf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Inter-Light.ttf);
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: Inter;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Inter-Regular.ttf);
  font-weight: 400;
  font-style: regular;
}
@font-face {
  font-family: Inter;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Inter-Medium.ttf);
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: Inter;
  src: url(/wp-content/themes/section-l-wptheme/fonts/Inter-SemiBold.ttf);
  font-weight: 600;
  font-style: semibold;
}
html {
  font-size: 6px;
}
#site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
  margin: 3rem calc(3rem + 1rem);
}
#masthead.site-header .site-logo {
  top: 3rem;
  left: calc(3rem + 1rem);
}
#page.container.grid-container {
  padding: 3rem 3rem;
}
#site-navigation.main-navigation #primary-menu {
  padding: 3rem;
}
#site-footer .footer-main-content {
  padding-right: 3rem !important;
}
.section-l-divider {
  padding: 0 3rem;
}
@media screen and (min-width: 577px) {
  html {
    font-size: 7px;
  }
  #site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
    margin: 3rem calc(3rem + 1rem);
  }
  #masthead.site-header .site-logo {
    top: 3rem;
    left: calc(3rem + 1rem);
  }
  #page.container.grid-container {
    padding: 3rem 3rem;
  }
  #site-navigation.main-navigation #primary-menu {
    padding: 3rem;
  }
  #site-footer .footer-main-content {
    padding-right: 3rem !important;
  }
  .section-l-divider {
    padding: 0 3rem;
  }
}
@media screen and (min-width: 769px) {
  html {
    font-size: 8px;
  }
  #site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
    margin: 3rem calc((6rem + 1rem) / 2);
    transform: translateX(50%);
  }
  #masthead.site-header .site-logo {
    top: 3rem;
    left: calc((6rem + 1rem) / 2);
    transform: translateX(-1rem);
  }
  #page.container.grid-container {
    padding: 3rem 6rem;
  }
  .site-footer .footer-main-content {
    padding-right: 6rem !important;
  }
  .section-l-divider {
    padding: 0 6rem;
  }
}
@media screen and (min-width: 997px) {
  html {
    font-size: 9px;
  }
  #site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
    margin: 3rem calc((10rem + 1rem) / 2);
    transform: translateX(50%);
  }
  #masthead.site-header .site-logo {
    top: 3rem;
    left: calc((10rem + 1rem) / 2);
    transform: translateX(-1rem);
  }
  #page.container.grid-container {
    padding: 3rem 10rem;
  }
  .site-footer .footer-main-content {
    padding-right: 10rem !important;
  }
  .section-l-divider {
    padding: 0 10rem;
  }
}
@media screen and (min-width: 1281px) {
  html {
    font-size: 10px;
  }
  #site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
    margin: 3rem calc((14rem + 1rem) / 2);
    transform: translateX(50%);
  }
  #masthead.site-header .site-logo {
    top: 3rem;
    left: calc((14rem + 1rem) / 2);
    transform: translateX(-1rem);
  }
  #page.container.grid-container {
    padding: 3rem 14rem;
  }
  .site-footer .footer-main-content {
    padding-right: 14rem !important;
  }
  .section-l-divider {
    padding: 0 14rem;
  }
}
@keyframes rotate-in-ccw {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  45% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  70% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  95% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spin-colors {
  0% {
    fill: #ff673a;
  }
  20% {
    fill: #ff673a;
  }
  25% {
    fill: #008a6a;
  }
  45% {
    fill: #008a6a;
  }
  50% {
    fill: #ff5485;
  }
  70% {
    fill: #ff5485;
  }
  75% {
    fill: #4d87d9;
  }
  95% {
    fill: #4d87d9;
  }
  100% {
    fill: #ff673a;
  }
}
.animate.spinning-wheel {
  animation-name: spin;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.animate.spinning-wheel svg {
  animation-name: spin-colors;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.animate.rotate-in-ccw {
  animation-name: rotate-in-ccw;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045), opacity 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.round-word-btn .elementor-button {
  height: 5em;
  width: 5em !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#masthead.site-header {
  background-color: unset;
}
#masthead.site-header .inside-header {
  padding: 10px;
}
#masthead.site-header .site-logo {
  position: fixed;
  overflow: hidden;
  text-align: left;
  z-index: 1000;
}
#masthead.site-header .site-logo img {
  height: 3rem;
  width: unset;
  transform: translateX(0);
  transition: transform 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  object-fit: contain;
  object-position: left;
  margin-right: 2rem;
  /* for the logo animation to not be cropped on the right */
}
@media screen and (min-width: 769px) {
  #masthead.site-header .site-logo.collapsed img {
    transform: translateX(-90%);
  }
}
#site-navigation.main-navigation *, #site-navigation.main-navigation.toggled * {
  margin: 0;
  padding: 0;
  display: inherit;
  background-color: unset;
  border: unset;
  box-shadow: unset;
  opacity: unset;
  width: unset;
  height: unset;
  line-height: unset;
  left: unset;
  right: unset;
  top: unset;
  bottom: unset;
}
#site-navigation.main-navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ecedf0;
  z-index: 100;
}
#site-navigation.main-navigation .inside-navigation {
  display: flex;
  flex-flow: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
}
#site-navigation.main-navigation #primary-menu {
  display: none;
  flex-grow: 1;
  background-color: #dac5b4;
  height: 100vh;
}
#site-navigation.main-navigation #primary-menu > ul {
  justify-content: space-evenly;
}
#site-navigation.main-navigation #primary-menu li {
  float: none;
  clear: both;
  display: block;
  text-align: left;
}
.toggled #site-navigation.main-navigation #primary-menu {
  display: inherit !important;
}
#site-navigation.main-navigation #menu-header-nav {
  display: block;
  justify-content: flex-start;
  margin: 0;
  height: 15rem;
  width: 100%;
}
#site-navigation.main-navigation #menu-header-nav > li.menu-item {
  font-weight: 800;
  margin-right: 3rem;
}
#site-navigation.main-navigation #menu-header-nav > li.menu-item > a {
  color: #290056;
  align-content: start;
  display: flex;
}
#site-navigation.main-navigation #menu-header-nav > li.menu-item > a:after {
  content: url(/wp-content/uploads/2020/08/arrow_down.png);
  transform: scale(0.7) rotate(90deg) translate(-1rem, -3rem);
  display: inline-flex;
  opacity: 0;
  height: 4rem;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
#site-navigation.main-navigation #menu-header-nav > li.menu-item.current-menu-item > a:after, #site-navigation.main-navigation #menu-header-nav > li.menu-item:hover > a:after {
  transform: scale(0.7) rotate(90deg) translate(-1rem, -1rem);
  opacity: 1;
}
#site-navigation.main-navigation #menu-header-nav > li.menu-item > a {
  font-size: 8rem;
  line-height: 12rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}
#site-navigation.main-navigation #menu-header-nav .dropdown-menu-toggle {
  display: none;
}
#site-navigation.main-navigation #menu-header-nav ul, #site-navigation.main-navigation #menu-header-nav li {
  margin: 0;
  list-style: none;
}
#site-navigation.main-navigation #menu-header-nav .menu-item-has-children .sub-menu {
  visibility: visible;
  opacity: 0;
  transition: opacity 0.5s;
  top: 3rem;
  margin-bottom: 3.5rem;
  position: absolute;
  white-space: nowrap;
  top: 6rem;
}
#site-navigation.main-navigation #menu-header-nav .menu-item-has-children .sub-menu > li > a {
  color: #290056;
  font-size: 2rem;
}
#site-navigation.main-navigation #menu-header-nav .menu-item-has-children:hover .sub-menu {
  opacity: 1;
}
#site-navigation.main-navigation #menu-header-nav .menu-item-has-children .dropdown-menu-toggle {
  float: right;
}
#site-navigation.main-navigation.toggled {
  z-index: 1000;
}
#site-navigation.main-navigation.toggled #primary-menu {
  display: inherit !important;
}
@media screen and (min-width: 1280px) {
  #menu-header-nav {
    max-width: 1100px;
  }
}
@media screen and (min-width: 769px) {
  #site-navigation.main-navigation {
    background-color: transparent;
  }
  #site-navigation.main-navigation #primary-menu {
    height: unset;
  }
  #site-navigation.main-navigation #menu-header-nav {
    display: inline-flex;
  }
  #site-navigation.main-navigation #menu-header-nav > li.menu-item > a {
    font-size: 4rem;
    line-height: 4rem;
  }
}
#site-navigation.main-navigation .menu-toggle {
  display: flex;
  justify-content: center;
}
#site-navigation.main-navigation .menu-toggle:before {
  content: unset;
}
#site-navigation.main-navigation .menu-toggle img {
  height: 3rem;
}
#site-navigation.main-navigation.toggled .hamburger-menu {
  display: none;
}
#site-navigation.main-navigation.toggled .menu-toggle:before {
  content: '\2715';
  font-size: 48px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 769px) {
  #site-navigation.main-navigation.toggled .menu-toggle:before {
    height: 3rem;
  }
}
.elementor-swiper-button:after {
  content: url(/wp-content/uploads/2020/08/arrow_down.png);
  fill: #e3203d;
}
.elementor-swiper-button > i {
  display: none;
}
.elementor-swiper-button.elementor-swiper-button-prev:after {
  transform: rotate(90deg) translateY(20px);
}
.elementor-swiper-button.elementor-swiper-button-next:after {
  transform: rotate(-90deg) translateY(20px);
}
.mobile-slider {
  height: 75vh;
  width: 100vw;
  overflow: hidden;
}
.mobile-slider .elementor-widget-container, .mobile-slider .swiper-container {
  overflow: unset;
}
.mobile-slider div, .mobile-slider figure {
  height: 100%;
}
.mobile-slider img {
  padding: 1rem;
  height: 100%;
  object-fit: cover;
}
.mobile-slider .elementor-image-carousel-caption {
  position: absolute;
  text-align: right !important;
  color: white;
  bottom: 20px;
  right: 20px;
  width: 80%;
}
.mobile-slider .elementor-swiper-button {
  align-items: center;
}
