@mixin color_rules($color_name, $color_value) {
  .text-color-#{$color_name} {
    color: $color_value;
  }

  .bg-color-#{$color_name} {
    background-color: $color_value;
  }

  .fill-color-#{$color_name}, .fill-color-#{$color_name} svg {
    fill: $color_value;
  }
}

@include color_rules('01', $color-01);
@include color_rules('02', $color-02);
@include color_rules('03', $color-03);
@include color_rules('04', $color-04);
@include color_rules('05', $color-05);
@include color_rules('06', $color-06);
@include color_rules('07', $color-07);
@include color_rules('08', $color-08);
@include color_rules('09', $color-09);
@include color_rules('10', $color-10);
@include color_rules('11', $color-11);
@include color_rules('12', $color-12);
@include color_rules('13', $color-13);
@include color_rules('14', $color-14);
@include color_rules('15', $color-15);
@include color_rules('16', $color-16);
@include color_rules('17', $color-17);
@include color_rules('18', $color-18);
@include color_rules('19', $color-19);
@include color_rules('20', $color-20);
@include color_rules('21', $color-21);
@include color_rules('22', $color-22);























