// #wpadminbar { display:none !important;}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

#page.container.grid-container {
  max-width: unset;
  background-color: unset;

  .site-content {
    padding: unset;
  }
}

.elementor-widget-container {
  overflow: hidden;
}