#site-navigation.main-navigation *, #site-navigation.main-navigation.toggled * {
  margin: 0; padding: 0; display: inherit; background-color: unset; border: unset; box-shadow: unset; opacity: unset; width: unset; height: unset; line-height: unset; left: unset; right: unset; top: unset; bottom: unset;
}

// #wpadminbar { display:none !important;}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

// Remove the blue highlight on touch devices

@media screen and (max-width: $mobile-breakpoint) {
  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

#page.container.grid-container {
  max-width: unset;
  background-color: unset;

  .site-content {
    padding: unset;
  }
}

.flip-x {
  transform: scaleX(-1);
}

.flip-y {
  transform: scaleY(-1);
}