// #wpadminbar { display:none !important;}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.site-footer {
  display: none;
}

#page.container.grid-container {
  max-width: unset;
  padding: 3rem 13rem;
  background-color: unset;

  .site-content {
    padding: unset;
  }
}