@mixin layout-mobile($base-font-size, $body-padding-x, $body-padding-y) {
  html {
    font-size: $base-font-size;
  }
  #site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
    margin: $body-padding-y calc(#{$body-padding-x} + 1rem);
  }
  // Reserve button
  #site-navigation .reserve-button {
    position: fixed;
    right: calc(#{$body-padding-x} + 8rem) !important;
    top: $body-padding-y !important;
  }
  // Language button
  #menu-header-nav > li:last-child {
    bottom: $body-padding-y !important;
    transform: translateY(-50%);
  }
  #masthead.site-header .site-logo {
    top: $body-padding-y;
    left: calc(#{$body-padding-x} + 1rem);
  }
  #page.container.grid-container {
    padding: 60px $body-padding-x $body-padding-y $body-padding-x;
  }
  #site-navigation.main-navigation #primary-menu {
    padding: 0 $body-padding-y;
  }
  #site-navigation.main-navigation.toggled #primary-menu {
    padding: $body-padding-y;
  }
  .site-footer .footer-main-content {
    padding-right: $body-padding-x !important;
  }
  .section-l-divider {
    padding: 0 $body-padding-x;
  }
}

@mixin layout($base-font-size, $body-padding-x, $body-padding-y) {
  html {
    font-size: $base-font-size;
  }
  #site-navigation.main-navigation .menu-toggle, #site-navigation.main-navigation .menu-toggle:before {
    margin: $body-padding-y calc((#{$body-padding-x} + 1rem) / 2);
    transform: translateX(50%);
  }
  #site-navigation.main-navigation.toggled .menu-toggle:before {
    margin: unset;
  }
  // Reserve button
  #site-navigation .reserve-button {
    position: fixed;
    right: calc((#{$body-padding-x} + 1rem) / 2) !important;
    top: 14rem !important;
    transform: translateX(50%);
  }
  // Language button
  #menu-header-nav > li:last-child {
    bottom: unset !important;
    right: $body-padding-x !important;
    transform: translateX(-50%);
  }
  #masthead.site-header .site-logo {
    top: $body-padding-y;
    left: calc((#{$body-padding-x} + 1rem) / 2);
    transform: translateX(-1rem);
  }
  #page.container.grid-container {
    padding: $body-padding-y $body-padding-x;
  }
  .site-footer {
    .footer-main-content {
      padding-right: $body-padding-x !important;
    }
    #footer-logo {
      position: absolute;
      top: 0;
      left: calc((#{$body-padding-x} + 1rem) / 2);
      padding-right: calc((#{$body-padding-x} + 1rem) / 2);
    }
  }
  .generate-back-to-top {
    right: calc((#{$body-padding-x} + 1rem) / 2) !important;
    transform: translateX(50%);
  }
  .section-l-divider {
    padding: 0 $body-padding-x;
  }
}

@include layout-mobile($base-font-size: 6px, $body-padding-y: 3rem, $body-padding-x: 3rem);

@media screen and (min-width: 577px) {
  @include layout-mobile($base-font-size: 7px, $body-padding-y: 3rem, $body-padding-x: 3rem);
}

@media screen and (min-width: $mobile-breakpoint) {
  @include layout($base-font-size: 8px, $body-padding-y: 3rem, $body-padding-x: 6rem);
}

@media screen and (min-width: 997px) {
  @include layout($base-font-size: 9px, $body-padding-y: 3rem, $body-padding-x: 10rem);
}

@media screen and (min-width: 1281px) {
  @include layout($base-font-size: 10px, $body-padding-y: 3rem, $body-padding-x: 14rem);
}