.round-word-btn {
  .elementor-button {
    cursor: pointer;
    height: 6em;
    width: 6em !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7vw;
  }
  &.active .elementor-button-text {
    border-bottom: 4px solid white;
    border-top: 4px solid transparent;
  }
}

.generate-back-to-top {
  background-color: transparent !important;
  width: 3rem !important;
  &:before {
    content: $arrow-svg-brown !important;
  }
}