.round-word-btn {
  transition: transform 0.3s;
  .elementor-button {
    cursor: pointer;
    height: 6em;
    width: 6em !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7vw !important;
  }
  &:hover {
    transform: scale(1.05);
  }
  &.active .elementor-button {
    cursor: default;
  }
  &.active .elementor-button-text {
    border-bottom: 4px solid white;
    border-top: 4px solid transparent;
  }
}

.generate-back-to-top {
  display: none;
  background-color: transparent !important;
  width: 3rem !important;
  &:before {
    content: $arrow-svg-brown !important;
  }
}

@media screen and (min-width: $mobile-breakpoint) {
  .generate-back-to-top { display: unset; }
}