@keyframes spin {
  0%   {transform: rotate(0deg)}
  20%  {transform: rotate(0deg)}
  25%  {transform: rotate(90deg)}
  45%  {transform: rotate(90deg)}
  50%  {transform: rotate(180deg)}
  70%  {transform: rotate(180deg)}
  75%  {transform: rotate(270deg)}
  95%  {transform: rotate(270deg)}
  100% {transform: rotate(360deg)}
}

.animate.spinning-wheel {
  animation-name: spin;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  transition: transform 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045);
}