// Spinning wheel

@keyframes rotate-in-ccw {
  0%   {
    opacity: 0;
    transform: rotate(0deg)
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg)
  }
}

@keyframes spin {
  0%   {transform: rotate(0deg)}
  20%  {transform: rotate(0deg)}
  25%  {transform: rotate(-90deg)}
  45%  {transform: rotate(-90deg)}
  50%  {transform: rotate(-180deg)}
  70%  {transform: rotate(-180deg)}
  75%  {transform: rotate(-270deg)}
  95%  {transform: rotate(-270deg)}
  100% {transform: rotate(-360deg)}
}

@keyframes spin-colors {
  0%   {fill: $color-05}
  20%  {fill: $color-05}
  25%  {fill: $color-03}
  45%  {fill: $color-03}
  50%  {fill: $color-04}
  70%  {fill: $color-04}
  75%  {fill: $color-21}
  95%  {fill: $color-21}
  100% {fill: $color-05}
}

.animate.spinning-wheel {
  animation-name: spin;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
  svg {
    animation-name: spin-colors;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
  }
}

.animate.rotate-in-ccw {
  animation-name: rotate-in-ccw;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045), opacity 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

// Start animation

@keyframes startFadeIn {
  0%   {
    opacity: 0;
    transform: scale(1) translateY(100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes startFadeOut {
  0%   {
    opacity: 1;
    color: $color-05;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    color: $color-04;
    transform: scale(1) translateY(-100vh);
    display: none;
  }
}

.start-animation {
  .start-title h1 {
    opacity: 0;
    font-size: 10rem;
    animation-fill-mode: forwards;
    color: $color-05;
    width: 100%;
    text-align: center;
    animation-delay: 1s;
    animation-name: startFadeIn;
    animation-duration: 750ms;
    animation-timing-function: cubic-bezier(0.185, 0.620, 0.125, 1.015);
  }
  .start-title {
    position: absolute;
    top: 40%;
    animation-name: startFadeOut;
    animation-duration: 750ms;
    animation-delay: 2.75s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190); /* easeInCubic */
  }
  .section-l-slider {
    animation-name: startFadeIn;
    animation-delay: 3s;
    animation-duration: 750ms;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
  }
}