@keyframes rotate-in-ccw {
  0%   {
    opacity: 0;
    transform: rotate(0deg)
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg)
  }
}

@keyframes spin {
  0%   {
    svg { fill: $color-04; }
    transform: rotate(0deg)
  }
  20%  {
    svg { fill: $color-04; }
    transform: rotate(0deg)
  }
  25%  {
    svg { fill: $color-03; }
    transform: rotate(90deg)
  }
  45%  {
    svg { fill: $color-03; }
    transform: rotate(90deg)
  }
  50%  {
    svg { fill: $color-05; }
    transform: rotate(180deg)
  }
  70%  {
    svg { fill: $color-05; }
    transform: rotate(180deg)
  }
  75%  {
    svg { fill: $color-21; }
    transform: rotate(270deg)
  }
  95%  {
    svg { fill: $color-21; }
    transform: rotate(270deg)
  }
  100% {
    svg { fill: $color-04; }
    transform: rotate(360deg)
  }
}

.animate.spinning-wheel {
  animation-name: spin;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-direction: reverse;
  animation-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

.animate.rotate-in-ccw {
  animation-name: rotate-in-ccw;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045), opacity 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045);
}