.booking-bar, #home-booking-bar {
  .book-widget.book-widget-holder {
    font-size: inherit !important;
  }
  .book-widget-bg {
    padding: 0;
    border: none;
  }
  .book-widget label {
    text-align: left !important;
    font-family: inherit !important;
    font-weight: 500;
    font-size: 0.8em !important;
  }
  .book-widget-booking-strip-size .icon-book-calendar {
    color: $color-02;
  }
  .book-form-control.book-btn, .book-form-control.book-btn:focus, .book-form-control.book-btn:hover {
    color: $color-08 !important;
    background: $color-02 !important;
  }
  .book-container .book-form-inline .book-form-control {
    background: transparent;
    border: solid 1px $color-02;
    color: $color-02 !important;
    font-weight: 500;
    font-size: 1em !important;
    width: 100%;
    font-family: inherit !important;
  }
  @media (min-width: $mobile-breakpoint) {
    .book-form-inline {
      display: flex;
    }
    .book-form-group .book-va-bottom {
      padding-top: 24px;
    }
    .book-container .book-form-inline .book-form-group {
      margin-right: 0;
      flex-grow: 1;
    }
    .book-container .book-form-inline .book-form-control {
      border-right: none;
    }
  }
}

#ui-datepicker-div.book-widget {
  font-family: inherit !important;
}