.booking-bar, #home-booking-bar {
  .book-widget.book-widget-holder {
    font-size: inherit !important;
  }
  .book-widget-bg {
    padding: 0;
    border: none;
  }
  .book-widget label {
    text-align: left !important;
    font-family: inherit !important;
    font-weight: 500;
    font-size: 0.8em !important;
  }
  .book-widget-booking-strip-size .icon-book-calendar {
    color: $color-02;
  }
  .book-container .book-form-inline .book-form-control {
    background: transparent;
    border: solid 1px $color-02;
    color: $color-02 !important;
    font-weight: 500;
    font-size: 1em !important;
    width: 100%;
    font-family: inherit !important;
    &.book-btn, &.book-btn:focus, &.book-btn:hover {
      color: $color-08 !important;
      background: $color-02 !important;
    }
  }
  @media (min-width: $mobile-breakpoint) {
    .book-form-inline {
      display: flex;
      flex-wrap: wrap;
    }
    .book-form-group .book-va-bottom {
      padding-top: 24px;
    }
    .book-container .book-form-inline .book-form-group {
      margin-right: 0;
      flex-grow: 1;
    }
    .book-container .book-form-inline .book-form-control {
      border-right: none;
    }
  }
}

#stay-booking-bar {
  @media (min-width: $mobile-breakpoint) {
    .book-container .book-form-inline .book-form-group {
      flex-basis: 50%;
    }
    .book-container .book-form-inline .book-form-control {
      border-right: unset;
    }
  }
}


#ui-datepicker-div.book-widget {
  font-family: inherit !important;
}