#masthead.site-header {
  background-color: unset;
}

#masthead.site-header .site-logo {
  position: fixed;
  top: 3.5rem;
  left: 4rem;
  overflow: hidden;
  text-align: left;
  z-index: 10;
  
  img {
    height: 3rem;
    width: 16em;
    transform: translateX(0);
    transition: transform 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045);
    object-fit: contain;
    object-position: left;
  }
  
  &.collapsed img {
    transform: translateX(-66%);
  }
}

#site-navigation.main-navigation {
  
  .menu-toggle {
    position: fixed;
    top: 3.5rem;
    right: 0rem;
    width: 14rem;
    display: flex;
    justify-content: center;
    
    &:before {
      content: unset;
    }
    
    img {
      height: 3rem;
      width: 6rem;
    }
  }
}