#site-navigation.main-navigation {

  // Hamburger toggle
  .menu-toggle {
    display: flex;
    justify-content: center;

    &:before {
      content: unset;
    }

    img {
      height: 3rem;
    }
  }

  &.toggled .hamburger-menu {
    display: none;
  }

  // Closing X when toggled on
  &.toggled .menu-toggle:before {
    content: '\2715';
    font-size: 48px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 769px) {
    &.toggled .menu-toggle:before {
      height: 3rem;
    }
  }
}