#site-navigation.main-navigation {

  // Hamburger toggle
  .menu-toggle {
    display: flex;
    justify-content: center;

    &:before {
      content: unset;
    }

    img {
      height: 3rem;
    }
  }

  &.toggled .hamburger-menu {
    display: none;
  }

  // Closing X when toggled on
  &.toggled .menu-toggle:before {
    content: '\2715';
    font-size: 6vh;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
  @media screen and (min-width: $mobile-breakpoint) {
    &.toggled .menu-toggle:before {
      height: 3rem;
      font-size: 48px;
      justify-content: center;
      align-items: center;
    }
  }
}