#site-navigation.main-navigation *, #site-navigation.main-navigation.toggled * {
  margin: 0; padding: 0; display: inherit; background-color: unset; border: unset; box-shadow: unset; opacity: unset; width: unset; height: unset; line-height: unset; left: unset; right: unset; top: unset; bottom: unset;
}

#site-navigation.main-navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $color-06;
  z-index: 100;
  .inside-navigation {
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }

  #primary-menu {
    display: none;
    flex-grow: 1;
    background-color: $color-09;
    height: 100vh;

    & > ul {
      justify-content: space-evenly;
    }

    li {
      float: none;
      clear: both;
      display: block;
      text-align: left;
    }

    .toggled & {
      display: inherit !important;
    }
  }

  #menu-header-nav {
    display: block;
    justify-content: flex-start;
    margin: 0;
    height: 15rem;
    width: 100%;

    & > li.menu-item {
      font-weight: 800;
      margin-right: 3rem;

      & > a {
        color: $color-02;
        align-content: start;
        display: flex;

        &:after {
          content: $arrow-img;
          transform: scale(0.7) rotate(-90deg) translate(-1rem, -3rem);
          display: inline-flex;
          opacity: 0;
          height: 4rem;
          transition: transform 0.3s ease-out, opacity 0.3s ease-out;
          justify-content: center;
          align-items: center;
          margin-top: 1rem;
        }
      }
      
      &.current-menu-item > a:after, &:hover > a:after {
        transform: scale(0.7) rotate(-90deg) translate(-1rem, -1rem);
        opacity: 1;
      }
    }

    & > li.menu-item > a {
      font-size: 8rem;
      line-height: 12rem;
      font-weight: 600;
      display: flex;
      align-items: center;
    }

    .dropdown-menu-toggle {
      display: none;
    }
  
    ul, li {
      margin: 0;
      list-style: none;
    }
  
    .menu-item-has-children .sub-menu {
      // visibility: visible;
      // opacity: 0;
      transition: opacity 0.5s;
      top: 3rem;
      margin-bottom: 3.5rem;
      position: absolute;
      white-space: nowrap;
      top: 6rem;
    }

    .menu-item-has-children .sub-menu > li > a {
      color: $color-02;
      font-size: 2rem;
    }

    // .menu-item-has-children:hover .sub-menu {
    //   opacity: 1;
    // }

    .menu-item-has-children .dropdown-menu-toggle {
      float: right;
    }
  }
}

#site-navigation.main-navigation.toggled {
  z-index: 1000;
  #primary-menu {
    display: inherit !important;
  }
}


@media screen and (min-width: 1280px) {
  #menu-header-nav {
    max-width: 1100px;
  }
}

// Desktop navbar

@media screen and (min-width: 769px) {
  #site-navigation.main-navigation {
    background-color: transparent;

    #primary-menu {
      height: unset;
    }
    #menu-header-nav {
      display: inline-flex;
      & > li.menu-item > a {
        font-size: 4rem;
        line-height: 4rem;
      }
    }
  }
}
