// #site-navigation.main-navigation *, #site-navigation.main-navigation.toggled * {
//   margin: 0; padding: 0; display: inherit; background-color: unset; border: unset; box-shadow: unset; opacity: unset; width: unset; height: unset; line-height: unset; left: unset; right: unset; top: unset; bottom: unset;
// }

$menu-transition-duration: 0.3s;

#site-navigation.main-navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $color-08;
  z-index: 90;
  height: 60px; // background for header on mobile
  transition: $menu-transition-duration;

  .menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .menu-toggle:before {
    color: $color-02;
  }

  .inside-navigation {
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }

  #primary-menu {
    height: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
    background-color: $color-09;
    transition: $menu-transition-duration;

    & > ul {
      justify-content: space-evenly;
    }

    li {
      float: none;
      clear: both;
      display: block;
      text-align: left;
    }

    .toggled & {
      display: inherit !important;
    }
  }

  #menu-header-nav {
    display: block;
    height: 80%;
    margin: 0;
    @media screen and (min-width: $mobile-breakpoint) {
      flex-direction: unset;
      justify-content: flex-start;
      height: 15rem;
    }

    & > li.menu-item {
      font-weight: 800;
      margin-right: 5vw;
      margin-bottom: 5vh;
      font-size: 6vh;
      line-height: 7vh;

      & > a {
        color: $color-02;
        align-content: start;
        display: flex;
        font-weight: 600;
        font-size: inherit;
        align-items: center;

        &:after {
          content: $arrow-svg-red;
          transform: rotate(-90deg);
          width: 3.5vh;
          opacity: 0;
          transition: transform 0.3s ease-out, opacity 0.3s ease-out;
          justify-content: center;
          align-items: center;
        }
      }

      &.current-menu-item > a:after {
        transform: rotate(-90deg) translateY(40%);
        opacity: 1;
      }

      &.current-menu-item.menu-item-has-children .sub-menu {
        opacity: 1;
      }

      // Language button
      &:last-child {
        visibility: hidden;
        position: absolute;
        a {
          font-size: 0.8em;
          color: $color-22;
        }
        a:after {
          visibility: hidden;
        }
        @media screen and (max-width: calc(#{$mobile-breakpoint} - 1px)) {
          bottom: 5vh;
        }
      }
    }

    .dropdown-menu-toggle {
      display: none;
    }
  
    ul, li {
      margin: 0;
      list-style: none;
    }
  
    .menu-item-has-children .sub-menu {
      display: none;
      visibility: visible;
      position: relative;
      pointer-events: unset;
      transition: opacity 0.5s;
      margin: 2vh 0 5vh 0;
      white-space: nowrap;
    }

    // Only show sub menu for Stay
    .menu-item-has-children a[href$="stay/"] + .sub-menu {
      display: unset;
    }

    .menu-item-has-children .sub-menu > li > a {
      color: $color-02;
      font-size: 4vh;
      padding-left: 30px;
    }

    .menu-item-has-children:hover .sub-menu {
      opacity: 1;
    }
  }

  // Book button
  .reserve-button {
    p {
      align-items: center;
      color: $color-05;
      font-weight: 600;
      font-size: 20px;
      line-height: 3rem;
    }
    p:before {
      content: $arrow-svg-orange;
      transform: rotate(90deg) translateY(40%);
      width: 2rem;
    }
    p:after {
      content: 'Book';
    }
    @media screen and (min-width: $mobile-breakpoint) {
      span {
        transform: rotate(90deg);
      }
      p {
        font-size: 2.2rem;
      }
      p:before {
        width: 1.5rem;
      }
    }
  }
}

#site-navigation.main-navigation.toggled {
  z-index: 100;
  #primary-menu {
    display: inherit !important;
    position: absolute;
    height: 100vh;
  }
  #menu-header-nav > li.menu-item:last-child {
    // Uncomment line below to active language button
    // visibility: visible;
  }
}

// Desktop navbar

@media screen and (min-width: $mobile-breakpoint) {
  #site-navigation.main-navigation {
    background-color: transparent;
    height: unset;
    // Allow hamburger to be fully clickable:
    z-index: 100;

    &.toggled #primary-menu {
      height: 15rem;
    }
    #menu-header-nav {
      display: inline-flex;
      & > li.menu-item {
        margin-bottom: unset;
        font-size: 3vw;
        line-height: 3vw;
      }
      & > li.menu-item > a:after {
        transform: rotate(-90deg) translateY(1.5em);
        width: 2vw;
      }
      & > li.menu-item:last-child {
        right: 6vw;
      }
      .menu-item-has-children .sub-menu {
        display: unset;
        opacity: 0;
        position: absolute;
        top: 6rem;
        margin: 0;
      }
      .menu-item-has-children .sub-menu > li > a {
        font-size: 2rem;
        padding-left: unset;
        line-height: 1.5;
      }
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  #site-navigation.main-navigation {
    #menu-header-nav > li.menu-item:hover > a:after {
      transform: rotate(-90deg) translateY(40%);
      opacity: 0.3;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  #site-navigation.main-navigation {
    #menu-header-nav > li.menu-item {
      font-size: 3.8rem;
      line-height: 3.8rem;
    }
  }
}
