#site-navigation.main-navigation *, #site-navigation.main-navigation.toggled * {
  margin: 0; padding: 0; display: inherit; background-color: unset; border: unset; box-shadow: unset; opacity: unset; width: unset; height: unset; line-height: unset; left: unset; right: unset; top: unset; bottom: unset;
}

#site-navigation.main-navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $color-06;
  z-index: 10;
  height: 60px; // background for header on mobile

  .menu-toggle {
    position: absolute;
    z-index: 1;
  }

  .inside-navigation {
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }

  #primary-menu {
    height: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
    background-color: $color-09;
    transition: 0.3s;

    & > ul {
      justify-content: space-evenly;
    }

    li {
      float: none;
      clear: both;
      display: block;
      text-align: left;
    }

    .toggled & {
      display: inherit !important;
    }
  }

  #menu-header-nav {
    display: block;
    justify-content: flex-start;
    margin: 0;
    height: 15rem;
    width: 100%;

    & > li.menu-item {
      font-weight: 800;
      margin-right: 3rem;

      & > a {
        color: $color-02;
        align-content: start;
        display: flex;
        font-size: 52px;
        line-height: 12rem;
        font-weight: 600;
        align-items: center;

        &:after {
          content: $arrow-svg-red;
          transform: rotate(-90deg);
          width: 5rem;
          opacity: 0;
          transition: transform 0.3s ease-out, opacity 0.3s ease-out;
          justify-content: center;
          align-items: center;
        }
      }
      
      &:hover > a:after {
        transform: rotate(-90deg) translateY(0.5em);
        opacity: 0.3;
      }

      &.current-menu-item > a:after {
        transform: rotate(-90deg) translateY(0.5em);
        opacity: 1;
      }

      &.current-menu-item.menu-item-has-children .sub-menu {
        opacity: 1;
      }
    }

    .dropdown-menu-toggle {
      display: none;
    }
  
    ul, li {
      margin: 0;
      list-style: none;
    }
  
    .menu-item-has-children .sub-menu {
      visibility: visible;
      position: relative;
      pointer-events: unset;
      transition: opacity 0.5s;
      margin-bottom: 3.5rem;
      white-space: nowrap;
    }

    .menu-item-has-children .sub-menu > li > a {
      color: $color-02;
      font-size: 38px;
      padding-left: 30px;
    }

    .menu-item-has-children:hover .sub-menu {
      opacity: 1;
    }
  }
}

#site-navigation.main-navigation.toggled {
  z-index: 100;
  #primary-menu {
    display: inherit !important;
    position: absolute;
    height: 100vh;
  }
}


@media screen and (min-width: 1280px) {
  #menu-header-nav {
    max-width: 1100px;
  }
}

// Desktop navbar

@media screen and (min-width: 769px) {
  #site-navigation.main-navigation {
    background-color: transparent;
    height: unset;

    &.toggled #primary-menu {
      height: 150px;
    }
    #menu-header-nav {
      display: inline-flex;
      & > li.menu-item > a {
        font-size: 3.8rem;
        line-height: 3.8rem;
        &:after {
          transform: rotate(-90deg) translateY(1.5em);
          width: 2.5rem;
        }
      }

      .menu-item-has-children .sub-menu {
        opacity: 0;
        position: absolute;
        top: 6rem;
      }

      .menu-item-has-children .sub-menu > li > a {
        font-size: 2rem;
        padding-left: unset;
      }
    }
  }
}
