// .elementor-widget-container {
//   overflow: hidden;
// }

.elementor-swiper-button {
  &:after {
    content: $arrow-img;
    fill: $color-13;
    display: flex;
    height: 100%;
    align-items: flex-end;
  }
  & > i {
    display: none;
  }
  &.elementor-swiper-button-prev:after {
    transform: rotate(-90deg);
    width: 20px;
    margin-bottom: -45px;
    z-index: 100000;
  }
  &.elementor-swiper-button-next:after {
    transform: rotate(90deg);
    width: 20px;
    margin-bottom: -45px;
    z-index: 100000;
  }
}

.mobile-slider {
  height: 75vh;
  width: 100vw;
  overflow: hidden;

  .elementor-widget-container, .swiper-container {
      overflow: unset;
  }

  div, figure {
      height: 100%;
  }

  img {
      padding: 1rem;
      height: 100%;
      object-fit: cover;
  }

  .elementor-image-carousel-caption {
      position: absolute;
      text-align: right !important;
      color: white;
      bottom: 20px;
      right: 20px;
      width: 80%;
  }

  .elementor-swiper-button {
      align-items: center;
  }
}