.section-l-slider {
  .swiper-pagination-bullets {
    display: none;
  }

  .elementor-swiper-button {
    display: flex;
    height: 100%;
    align-items: flex-end;
    z-index: 10;
    &:after {
      content: $arrow-svg-red;
      width: 20px;
      @media screen and (min-width: $mobile-breakpoint) {
        margin-bottom: -7rem;
      }
    }
    & > i {
      display: none;
    }
    &.elementor-swiper-button-prev:after {
      transform: rotate(-90deg);
    }
    &.elementor-swiper-button-next:after {
      transform: rotate(90deg);
    }
  }

  figure {
    background-color: $color-12;
  }

  .elementor-image-carousel-caption {
    text-align: left !important;
    padding: 4rem 5rem;
    h4 {
      font-weight: 600;
    }
    p {
      font-weight: 500;
    }
  }
}

// Mobile Slider
@media screen and (max-width: $mobile-breakpoint) {
  .section-l-slider {
    height: 80vh;
    width: 100vw;

    .elementor-image-carousel-caption h4 {
      font-size: 4rem;
    }
    .elementor-image-carousel-caption p {
      width: 100%;
      font-size: 20px;
    }

    .elementor-widget-container, .swiper-container {
      overflow: unset;
    }

    figure {
      display: flex;
      flex-direction: column;
      margin: 0 1rem !important;
    }

    div, figure {
      height: 100%;
    }

    img.swiper-slide-image {
      object-fit: cover;
      flex-grow: 1;
    }

    .elementor-swiper-button {
      align-items: center;
    }
  }
}

// Desktop Slider
@media screen and (min-width: $mobile-breakpoint) {
  .section-l-slider {
    position: relative;
    margin-bottom: -4rem;
    padding-bottom: 6rem;

    .swiper-slide-inner {
      display: flex;
    }

    .swiper-slide-image {
      min-width: 65%;
      object-fit: cover;
      height: 67.5rem;
    }

    .elementor-image-carousel-caption {
      max-height: 67.5rem;
      h4 { font-size: 5rem; }
      p { font-size: 3rem; }
    }

    .elementor-swiper-button.elementor-swiper-button-prev:after {
      position: absolute;
      bottom: 0;
      left: 1rem;
    }
    .elementor-swiper-button.elementor-swiper-button-next:after {
      position: absolute;
      bottom: 0;
      right: 1rem;
    }
  }
}