.section-l-slider {
  .swiper-pagination-bullets {
    display: none;
  }

  .elementor-swiper-button {
    display: flex;
    height: 100%;
    align-items: flex-end;
    z-index: 10;
    &:after {
      content: $arrow-svg-red;
      width: 20px;
      @media screen and (min-width: $mobile-breakpoint) {
        margin-bottom: -7rem;
      }
    }
    & > i {
      display: none;
    }
    &.elementor-swiper-button-prev:after {
      transform: rotate(-90deg);
      filter: drop-shadow(-3px 3px 3px black);
    }
    &.elementor-swiper-button-next:after {
      transform: rotate(90deg);
      filter: drop-shadow(3px -3px 3px black);
    }
  }

  figure {
    background-color: $color-16;
  }

  .elementor-image-carousel-caption {
    text-align: left !important;
    padding: 4rem 5rem;
    h4 {
      font-weight: 600;
      line-height: 1.2;
    }
    p {
      font-weight: 500;
      margin: 0;
    }
  }
}

// Mobile Slider
@media screen and (max-width: calc(#{$mobile-breakpoint} - 1px)) {
  .section-l-slider {
    height: 80vh;
    min-height: 480px;
    width: 100vw;
    overflow: hidden;
    
    .elementor-image-carousel-caption {
      // display: none;
      margin-top: -1rem !important;
    }
    .elementor-image-carousel-caption h4 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    .elementor-image-carousel-caption p {
      width: 100%;
      font-size: 2.8rem;
    }

    .elementor-widget-container, .swiper-container {
      overflow: unset;
    }

    figure {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin: 0 1rem !important;
    }

    figure > div {
      overflow: hidden;
    }

    div, figure {
      height: 100%;
    }
    
    img.swiper-slide-image {
      object-fit: cover;
      flex-grow: 1;
      height: 100%;
    }

    .elementor-swiper-button {
      align-items: center;
    }
  }
}

// Desktop Slider
@media screen and (min-width: $mobile-breakpoint) {
  .section-l-slider {
    position: relative;
    margin-bottom: -4rem;
    padding-bottom: 6rem;

    figure > div {
      display: contents;
    }

    .swiper-slide-inner {
      display: flex;
    }

    .swiper-slide:nth-child(even) .swiper-slide-inner {
      flex-direction: row-reverse;
    }

    .swiper-slide-image {
      min-width: 62%;
      object-fit: cover;
      height: 67.5rem;
    }

    .elementor-image-carousel-caption {
      max-height: 67.5rem;
      h4 { font-size: 5rem; }
      p { font-size: 3rem; }
    }

    .elementor-swiper-button.elementor-swiper-button-prev:after {
      position: absolute;
      bottom: 0;
      left: 1rem;
      filter: unset;
    }
    .elementor-swiper-button.elementor-swiper-button-next:after {
      position: absolute;
      bottom: 0;
      right: 1rem;
      filter: unset;
    }
  }
}