// .elementor-widget-container {
//   overflow: hidden;
// }

.section-l-slider .swiper-pagination-bullets {
  display: none;
}

.section-l-slider .elementor-swiper-button {
  display: flex;
  height: 100%;
  align-items: flex-end;
  z-index: 10;
  &:after {
    content: $arrow-svg-red;
    width: 20px;
    @media screen and (min-width: $mobile-breakpoint) {
      margin-bottom: -45px;
    }
  }
  & > i {
    display: none;
  }
  &.elementor-swiper-button-prev:after {
    transform: rotate(-90deg);
  }
  &.elementor-swiper-button-next:after {
    transform: rotate(90deg);
  }
}

.section-l-slider .elementor-image-carousel-caption {
  position: absolute;
  text-align: right !important;
  color: white;
  bottom: 2rem;
  right: 2rem;
  width: 80%;
  h4 {
    font-weight: 600;
  }
  p {
    margin-left: auto;
    font-weight: 500;
  }
}

// Mobile Slider
@media screen and (max-width: $mobile-breakpoint) {
  .section-l-slider, .mobile-slider {
    height: 75vh;
    width: 100vw;

    .elementor-image-carousel-caption h4 {
      font-size: 4rem;
    }
    .elementor-image-carousel-caption p {
      width: 100%;
      font-size: 20px;
    }

    .elementor-widget-container, .swiper-container {
      overflow: unset;
    }

    div, figure {
      height: 100%;
    }

    img.swiper-slide-image {
      padding: 1rem;
      height: 100%;
      object-fit: cover;
    }

    .elementor-swiper-button {
      align-items: center;
    }
  }
}

// Desktop Slider
@media screen and (min-width: $mobile-breakpoint) {
  .section-l-slider {
    position: relative;
    margin-bottom: 4rem !important;
    padding-bottom: 2rem;

    .elementor-image-carousel-caption h4 {
      font-size: 3rem;
    }
    .elementor-image-carousel-caption p {
      width: 50%;
      font-size: 2.2rem;
    }

    .swiper-slide-image {
      object-fit: cover;
      height: 67.5rem;
    }
    
    // // Overlay
    // .swiper-slide-inner:before {
    //   content: "";
    //   background: linear-gradient(0deg, rgba(0,0,0,0.5), transparent 30%);
    //   z-index: 0;
    //   position: absolute;
    //   height: 100%;
    //   width: 100%;
    //   left: 0;
    //   top: 0;
    // }

    .elementor-swiper-button.elementor-swiper-button-prev:after {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .elementor-swiper-button.elementor-swiper-button-next:after {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}