.elementor-swiper-button {
  &:after {
    content: $arrow-img;
    fill: $color-13;
  }
  & > i {
    display: none;
  }
  &.elementor-swiper-button-prev:after {
    transform: rotate(90deg) translateY(20px);
  }
  &.elementor-swiper-button-next:after {
    transform: rotate(-90deg) translateY(20px);
  }
}