
#section-l-words {
  background-color: unset;
  .elementor-widget-image[data-word] {
    // display: none;
    transition: opacity 1s;
    opacity: 0;
    &:not(:first-child) {
      position: absolute;
      top: 0;
      left: 0;
    }
    &.active {
      // display: unset;
      opacity: 1;
    }
  }

  .word-photo {
    overflow: hidden;
    .wp-caption {
      padding-top: 100%;
      margin-bottom: 8rem;
    }
    .wp-caption-text {
      position: absolute;
      bottom: -8rem;
      line-height: 8rem;
      width: 100%;
    }
    img {
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  @media screen and (min-width: $mobile-breakpoint) {
    background-color: white;
    .word-photo {
      .wp-caption {
        margin-bottom: 0;
      }
      .wp-caption-text {
        display: none
      }
    }
  }
}