
#section-l-words {
  background-color: unset;
  .elementor-widget-image[data-word] {
    // display: none;
    transition: opacity 1s;
    opacity: 0;
    &:not(:first-child) {
      position: absolute;
      top: 0;
      left: 0;
    }
    &.active {
      // display: unset;
      opacity: 1;
    }
  }

  .word-photo {
    overflow: hidden;
    .wp-caption {
      padding-top: 100%;
      margin-bottom: 3em;
    }
    .wp-caption-text {
      position: absolute;
      padding-top: 0;
      opacity: 0.99;
      bottom: 0;
      line-height: 8rem;
      width: 100%;
      transform: translateY(50%);
      font-size: inherit;
    }
    figcaption.widget-image-caption.wp-caption-text:after {
      content: "";
      width: 6em;
      height: 6em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      z-index: -1;
    }
    img {
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    &[data-word=dream] figcaption.widget-image-caption.wp-caption-text:after {
      background-color: $color-20;
    }
    &[data-word=soak] figcaption.widget-image-caption.wp-caption-text:after {
      background-color: $color-03;
    }
    &[data-word=chill] figcaption.widget-image-caption.wp-caption-text:after {
      background-color: $color-21;
    }
    &[data-word=work] figcaption.widget-image-caption.wp-caption-text:after {
      background-color: $color-22;
    }
    &[data-word=read] figcaption.widget-image-caption.wp-caption-text:after {
      background-color: $color-04;
    }
    &[data-word=eat] figcaption.widget-image-caption.wp-caption-text:after {
      background-color: $color-05;
    }
    &[data-word=pamper] figcaption.widget-image-caption.wp-caption-text:after {
      background-color: $color-18;
    }
    &[data-word=stare] figcaption.widget-image-caption.wp-caption-text:after {
      background-color: $color-19;
    }
    &[data-word=refresh] figcaption.widget-image-caption.wp-caption-text:after {
      background-color: $color-16;
    }
  }

  @media screen and (min-width: $mobile-breakpoint) {
    background-color: white;
    .word-photo {
      .wp-caption {
        margin-bottom: 0;
      }
      .wp-caption-text {
        bottom: 6.5rem;
        font-size: 8rem;
        left: 3rem;
        width: unset;
      }
      figcaption.widget-image-caption.wp-caption-text:after {
        display: none;
      }
    }
  }
}